.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-syne-mono);
  color: var(--white-smoke);
  background-color: var(--github-graffiti);
}
