.container {
  width: 90vw;
  max-width: 700px;
  padding: 30px 10px;
  margin: 40px auto;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  color: #282c34;
}

.title {
  font-size: 1.8rem;
}

.mainContainer,
.salePriceContainer,
.costPriceContainer,
.supplierContainer,
.categoryContainer {
  display: flex;
  flex-flow: column wrap;
}

.mainContainer {
  gap: 16px;
}

.productNameContainer,
.salePriceContainer,
.costPriceContainer,
.supplierContainer,
.categoryContainer,
.mainContainer input,
.productDescriptionContainer {
  width: 100%;
}

.customSelect {
  position: relative;
  display: inline-block;
}

.customSelect > select {
  width: 100%;
  padding: 0px 30px 0px 10px;
  font-family: Alegreya, serif;
  cursor: pointer;
  color: #5e6470;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.customSelect::after {
  content: '\25B2 \25BC';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  color: #333;
}

.productNameContainer,
.productDescriptionContainer {
  display: flex;
  flex-flow: column wrap;
}

.buttonContainer {
  align-self: flex-end;
}

label {
  text-align: left;
}

textarea,
input,
select {
  height: 35px;
  padding-left: 10px;
}

textarea {
  height: 140px;
}

option {
  font-size: 1rem;
}

input::placeholder,
textarea::placeholder {
  font-family: Alegreya, serif;
}

.buttonContainer > button {
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  background-color: #282c34;
  color: #fff;
}

@media (min-width: 490px) {
  .container {
    padding: 30px;
  }

  .salePriceContainer,
  .costPriceContainer,
  .supplierContainer,
  .categoryContainer {
    width: calc(50% - 16px);
  }

  .mainContainer {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
  }

  .buttonContainer > button {
    padding: 10px 55px;
  }
}
