.container {
  min-width: 350px;
  padding: 30px;
  text-align: left;
  text-wrap: pretty;
  line-height: 2.2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.container li {
  list-style-type: decimal;
}
