.container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: rgba(210, 210, 210, 0.1);
}

.container div {
  min-width: 300px;
}

.container > div > span {
  font-weight: 900;
  text-shadow: 0 0 3px var(--black-russian);
  font-size: 2.6em;
}

.container > div > p {
  max-width: 457px;
  text-indent: 0px;
  font-size: 1.1rem;
}

.photo {
  width: 265px;
  border-radius: 8%;
  margin-bottom: 10px;
  filter: grayscale(90%);
  opacity: 0.9;
  z-index: -1;
}

/* MEDIA QUERIES */

/* -------------------------------- */
@media (min-width: 375px) {
  .container > div > p {
    font-size: 1.3rem;
  }
}

/* -------------------------------- */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .container div {
    margin: 0;
    padding-left: 22px;
  }
  .photo {
    width: 250px;
  }
}

/* -------------------------------- */
@media (prefers-color-scheme: dark) {
  .container > div > p {
    color: var(--white);
  }
}
