.container {
  width: 100%;
  max-width: 1200px;
  padding: 15px;
  border: 1px solid #282c34;
  font-size: 0.9rem;
}

.container > p {
  text-align: left;
}

.container > h2 {
  text-align: left;
  text-indent: 20px;
}

@media (min-width: 425px) {
  .container {
    font-size: 1rem;
  }
}

@media (min-width: 700px) {
  .container {
    font-size: 1.1rem;
  }
}

@media (min-width: 1000px) {
  .container {
    font-size: 1.2rem;
  }
}
