.todoItem {
  width: 100%;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid var(--white-smoke);
}

.concluded {
  width: 100%;
  color: var(--shuttle-grey);
}
.concluded:before {
  content: '✔️';
  margin-right: 5px;
}

.container li {
  list-style-type: decimal;
}

.input {
  margin-bottom: 6px;
}

.containerButton {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
