.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--white-smoke);
  background-color: var(--github-graffiti);
  font-family: var(--font-syne-mono);
}

.input {
  padding: 10px;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
  outline: none;
  font-family: var(--syne-mono);
}

.input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
