.container {
  height: 100vh;
  font-family: 'Syne Mono', monospace;
}

.container > h1 {
  font-size: 3rem;
  text-shadow: 0 0 3px var(--ebony);
}

.container > div {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.3rem;
}

.container > div > p {
  text-indent: 0px;
}

@media (min-width: 425px) {
  .container > h1 {
    font-size: 3.2rem;
  }

  .container > div {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .container > div {
    font-size: 1.8rem;
  }
}
