@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Genos:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kolker+Brush&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Splash&family=Zeyada&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Syne+Mono&family=Mynerve&display=swap');

/* font-family: "IBM Plex Mono", monospace; */
/* font-family: "Montserrat", sans-serif; */
/* font-family: 'Kolker Brush', cursive; */
/* font-family: "Syne Mono", monospace; */
/* font-family: 'Splash', system-ui; */
/* font-family: "Zeyada", cursive; */
/* font-family: "Mynerve", cursive; */

/* -------------------------------- */
/* VARIABLES */
:root {
  --white: #fff;
  --black: #000;
  --white-smoke: #f8f8f8;
  --lavender-blush: #faf5f6;
  --wild-sand: #e7e4df;
  --light-grey: #d2d2d2;
  --moccaccino: #5c2b2b;
  --biloba-flower: #ab85eb;
  --shuttle-grey: #5f6368;
  --ebony: #282c34;
  --midnight-blue: #181a1f;
  --black-russian: #03031b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Alegreya, system-ui;
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #282c34;
}

.link:hover {
  font-weight: 900;
  color: #03031b;
  font-size: 1.33rem;
}

p {
  text-align: justify;
  text-indent: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #282c34;
    color: #fff;
  }

  a {
    color: #fff;
  }
}
