.container {
  width: 99.5%;
  padding-top: 20px;
  margin-top: 0.5rem;
  border-top: 1px solid var(--midnight-blue);
  border-radius: 42%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  color: var(--ebony);
  flex-direction: column;
  gap: 12px;
}

.container section,
.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.name {
  margin-top: 9px;
  font-size: 12px;
  font-weight: 500;
  color: var(--black);
}

.socialMedia {
  width: 140px;
  display: flex;
  margin-bottom: 20px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 425px) {
  .container {
    width: 99.5%;
    padding-top: 34px;
    margin-top: 0.5rem;
    border-top: 1px solid var(--midnight-blue);
    border-radius: 42%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    color: var(--ebony);
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    border-color: var(--white);
  }

  .name {
    color: var(--white);
    font-weight: 100;
  }
}
