.todoItem {
  width: 100%;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid var(--white-smoke);
}

.concluded {
  width: 100%;
  /* text-decoration: line-through; */
  color: var(--shuttle-grey);
}

.container li {
  list-style-type: decimal;
}
