.container {
  width: 98%;
  height: 170px;
  max-width: 347px;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 8px;
  box-shadow: 2px 2px 2px var(--ebony);
  background-color: #f0f0f0;
  transition:
    transform 0.2s ease,
    background-color 0.3s ease;
}

.container:hover {
  transform: scale(1.03);
  background-color: var(--lavender-blush);
}

.container > h1 {
  text-align: center;
}

.container > p {
  text-indent: 5px;
  font-size: 1.1rem;
}

@media (prefers-color-scheme: dark) {
  .container {
    box-shadow: 2px 2px 2px var(--white);
    color: var(--ebony);
  }
}
